.sidenav{
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: #111;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
}
.sidenav a{
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #818181;
    display: block;
    text-decoration: none;
}
.sidenav a:hover{
    color: #f1f1f1;
}
.content{
    margin-left: 160px;
    height: 100vh;
    padding: 10px 10px;
    background-color: #D1D1D1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
h3 {
    margin: 0; /* Remove default margin */
    padding-top: 150px; /* Adjust to move above center */
    padding-bottom: 30px;
  }
  .logout-form {
    display: inline;
}

.logout-button {
    background: none;
    border: none;
    color: #818181;
    font-size: 25px;
    padding: 6px 8px 6px 16px;
    cursor: pointer;
    text-align: left;
    display: block;
}

.logout-button:hover {
    color: #f1f1f1;
}
