{% extends 'myapp/base.html' %}
{% block title %}View and edit list{% endblock %}
{% block list %}{{lst.name}}{% endblock %}

{% block content %}
<div class="list-container">
    <h2>{{lst.name}}</h2>
    <form method="post" action="">
        {% csrf_token %}
            <ul>
                {% for item in lst.item_set.all %}
                    {% if item.completed == True %}
                        <li><input type="checkbox", value="clicked", name="c{{item.id}}" checked>{{item.text}}</li>
                    {% else %}
                        <li><input type="checkbox", value="clicked", name="c{{item.id}}">{{item.text}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <button type="submit", name="save", value="save" class="btn btn-dark save-btn">Save</button>
            <button type="submit", name="newItem", value="newItem" class="btn btn-dark add-btn">Add Item</button>	
            <input type="text", name="new">
    </form>              
</div>
{% endblock %}