{% extends "myapp/base.html" %}
{% block title %}Lists{% endblock %}
{% block content %}
<div class="lists-container">
    <h2>Your lists :</h2>
    {% if user.todolist.all %}
        {% for td in user.todolist.all %}
            <p><a href="{% url 'list' td.id %}">- {{ td.name }}</a></p>
        {% endfor %}
    {% else %}
        <p class="no-lists">You haven't created any Todo lists yet.</p>
        <p>Create a new<a href="{% url 'create' %}" class="create-list-link">one</a></p>
    {% endif %}
</div>
{% endblock %}